<h1>All the restaurants</h1>
<ul>
<% @restaurants.each do |restaurant| %>
  <li>
    <strong><%= link_to restaurant.name, restaurant_path(restaurant) %></strong>
  </li>
<% end %>
</ul>

<%= link_to 'Add a new restaurant', restaurants_new_path %>
